/* main Acerca de mi */
.about-me-flex {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 0 60px;
  position: relative;
  top: 300px;
}


.about-me-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 60px 30px 60px;
  text-align: center;
  justify-content: center;
  position: absolute;
  background-color: #21243898;
  backdrop-filter: blur(3px);
  transition: 1s ease-in-out;
}

.about-me-content:hover {
  display: none;
}

/* background parallax */
.hero-background-parallax {
  height: 90vh;
  width: 100%;
  background-color: $color-gris-oscuro;
  @include background-image;
  overflow: hidden;
}

