/* CONTACT */
.section-contact {
  @include flex-center;
  flex-flow: row wrap;
  padding: 0px 0 30px 0;
  gap: 0 60px;
  height: auto;
}
.contact {
  @include flex-center;
  flex-direction: column;
  width: 600px;
  padding: 100px 60px 40px 60px;
}

.icons {
  justify-content: center;
  padding: 32px 0 0 0;
}

.icon-contact {
  width: 2rem;
  height: 2rem;
}

.form {
  @include flex-center;
  flex-direction: column;
  width: 600px;
  padding: 30px;
}

form {
  @include flex-center;
  flex-direction: column;
  background-color: $color-gris-oscuro-opacity;
  border: 1px solid $color-border;
  border-radius: 10px;
  padding: 30px;
  gap: 16px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-mensaje {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form-submit {
  padding: 10px 0 0 0;
}

label {
  text-align: left;
}

#name,
#email,
#tel,
#mensaje {
  width: 500px;
  padding: 20px;
  background-color: #dbdbdb;
  border: 1px solid $color-border;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
}

#mensaje {
  height: 80px;
}

#enviar {
  width: 500px;
  @include flex-center;
  gap: 8px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #e0e8ef;
  background-color: #7e97b8;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff55;
  border-radius: 10px;
  padding: 16px 24px;
  transition: 0.2s;
  box-shadow: -1px -1px 6px 0px $color-white, 1px 1px 6px 0px #5f9de77a;
  cursor: pointer;
}

#enviar:hover {
  color: #516d91;
  background-color: #e5edf5;
  box-shadow: -2px -1px 4px 0px $color-white, 2px 1px 4px 0px #5f9de77a;
}
