/* Fuente principal */
.font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


h1 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 4px;
    /*   text-transform: uppercase; */
  }
  
  h2 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 4rem;
    /* letter-spacing: 1px; */
  }
  
  h3 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
  
  p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  