// colores
$color-primary: #333646;
$color-primary-opacity: #333646a1;
$color-secondary: #181a22;
$color-white: white;
$color-black: black;
$color-border: #afadad;
$color-shadow-blue: #5f9de77a;
$color-shadow-gray: #ffffff5d;

// breakpoints

$breakpoints: (
  phone: 600px,
  tablet: 767px,
  desktop: 1200px,
);

// mixins con parametros
@mixin flex($direction, $justify, $align, $text) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  text-align: $text;
}

@mixin background-image($bg-attachment, $bg-size, $bg-position) {
  background-attachment: $bg-attachment;
  background-size: $bg-size;
  background-position: $bg-position;
}

// media queries
@mixin media-up($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
