#grilla {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "card-1 card-2"
    "card-3 card-4"
    "card-5 card-6";
}

section#card-1 {
  grid-area: card-1;
}

section#card-2 {
  grid-area: card-2;
}

section#card-3 {
  grid-area: card-3;
}

section#card-4 {
  grid-area: card-4;
}

section#card-5 {
  grid-area: card-5;
}

section#card-6 {
  grid-area: card-6;
}

/* gallery videos */
#grilla-videos {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "video-1 video-2"
    "video-3 video-4";
  overflow: hidden;
  padding: 60px 60px;
  gap: 5rem;
}

div#video-1 {
  grid-area: video-1;
}

div#video-2 {
  grid-area: video-2;
}

div#video-3 {
  grid-area: video-3;
}

div#video-4 {
  grid-area: video-4;
}
