/* main portfolio */
.title {
  width: 100%;
  @include flex(column, center, center, center);
  padding: 0 10px 0 10px;
}

.video {
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}

/* CAROUSEL */

.carousel {
  padding: 0;
  width: 100%;
  max-height: 80vh;
  height: 100%;
  @include flex(column, center, center, center);
  object-position: bottom;
  object-fit: cover;
  overflow: hidden;
}

.carousel-inner .carousel-item .carousel-item img {
  width: 100%;
  height: 100%;
  object-position: bottom;
  object-fit: cover;
  overflow: hidden;
}

/* GALLERY */

.gallery {
  @include flex(column, center, center, center);
  padding: 0;
  top: 300px;
  flex-flow: row wrap;
}

.card {
  @include flex(column, center, center, center);
  width: 100%;
  height: 80vh;
  border: 1px solid $color-border;
  overflow: hidden;
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.album-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.album-title {
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(27, 29, 39, 0.5);
  color: $color-white;
  padding: 20px 0 100px 0;
  font-weight: 400;
  text-align: center;
  width: 100%;
  backdrop-filter: blur(5px);
}
