/* main videos */
.section-separator {
  border: 1px solid $color-border;
}

/* Gallery */
.card-video {
  width: 100%;
  height: 100%;
  @include flex (column, center, center, center);
  gap: 5rem;
  padding: 10px 0;
}

.title-video {
  text-align: left;
  font-size: 2rem;
  font-weight: 400;
  padding: 0 60px;
  top: 300px;
}

.card-video-content {
  position: relative;
  width: 100%;
  height: 500px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $color-border;
}
